<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://reportalows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-ch1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReportaloWS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ReportaloWS</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ReportaloCNN" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:e8dw7qcmo2.database.windows.net,1433;Initial Catalog=Reportalo;User ID=Reportalo@e8dw7qcmo2;Password=managerTP2013" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:e8dw7qcmo2.database.windows.net,1433;Database=Reportalo;User ID=Reportalo@e8dw7qcmo2;Password=managerTP2013;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReportaloCNN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:e8dw7qcmo2.database.windows.net,1433;Database=Reportalo;User ID=Reportalo@e8dw7qcmo2;Password=managerTP2013;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReportaloCNN-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e8dw7qcmo2.database.windows.net,1433;Initial Catalog=Reportalo;User ID=Reportalo@e8dw7qcmo2;Password=managerTP2013</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>